    <li>
      <%= gravatar_for user, { :size => 30, :class => 'gravatar_norm' } %>
      <%= link_to user.name, user_path(user) %>
      <%#= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %> 
    </li>

