<h1><%= @title %></h1>

<%= will_paginate %>

<ul class="users">

  <%#= note the less compact way to do things  %>
  <%#= @users.each do |user| %>
    <%#= render 'user', :user => user %>
  <%#= end %>
  
  <%#= note the more compact way to do this %>
  <%= render @users %>

</ul>

<%= will_paginate %>
